<!--NvaBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 id="navhead" class="navbar-brand col-sm-3 col-md-2 mr-0" >Live Spaces</h1>
  <input class="form-control form-control-dark w-73" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="nameSearch">
  <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
          <button class="btn-primary">Search</button>
      </li>
  </ul>
</nav>
<!--NvaBar-->

<mat-tab-group>
    <mat-tab  label="24h Trending">
           <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let i of showData | filter:nameSearch">
                  <a>
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="{{i.image}}" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>{{i.title}}</h6>
                                  <p class="car">{{i.des}}</p>
                                  <div class="card_cat">
                                    <p class="PG">PG-{{i.stars}}</p>
                                    <p class="PG">{{i.year}}</p>
                                    <p class="PG">{{i.action}} </p>
                                  </div>
                                  <mat-card-actions>
                                     
                                  </mat-card-actions>
                              </div>
                              <mat-card-footer>
                                <button mat-button (click)="incCount()">
                                  <mat-icon>thumb_up</mat-icon>
                              </button>
                              <button mat-button (click)="desCount()">
                                  <mat-icon>thumb_down</mat-icon>
                              </button>
                              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>

                              </mat-card-footer>
                            
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
   <!-- Topic Cards -->
      </mat-tab>


       <!-- New Tab -->
        <mat-tab label="Latest Shows">
          <div id="cards_landscape_wrap-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let i of showData | filter:nameSearch">
                        <ng-template  [ngIf]="i.year<='2021'">
                          <a>
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="{{i.image}}" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>{{i.title}}</h6>
                                        <p class="car">{{i.des}}</p>
                                        <div class="card_cat">
                                          <p class="PG">PG-{{i.stars}}</p>
                                          <p class="PG">{{i.year}}</p>
                                          <p class="PG">{{i.action}} </p>
                                        </div>
                                        <mat-card-actions>
                                           
                                        </mat-card-actions>
                                    </div>
                                    <mat-card-footer>
                                        <button mat-button (click)="incCount()">
                                          <mat-icon>thumb_up</mat-icon>
                                      </button>
                                      <button mat-button (click)="desCount()">
                                          <mat-icon>thumb_down</mat-icon>
                                      </button>
                                      <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
        
                                      </mat-card-footer>
                                  
                                </div>
                            </div>
                        </a>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
      </mat-tab>


        
       <!-- New Tab -->
        <mat-tab label="Most Popular"> 
          <div id="cards_landscape_wrap-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let i of showData | filter:nameSearch">
                       <ng-template [ngIf]="i.stars>=8">
                        <a>
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="image-box">
                                      <img src="{{i.image}}" alt="" />
                                  </div>
                                  <div class="text-container">
                                      <h6>{{i.title}}</h6>
                                      <p class="car">{{i.des}}</p>
                                      <div class="card_cat">
                                        <p class="PG">PG-{{i.stars}}</p>
                                        <p class="PG">{{i.year}}</p>
                                        <p class="PG">{{i.action}} </p>
                                      </div>
                                      <mat-card-actions>
                                         
                                      </mat-card-actions>
                                  </div>
                                  <mat-card-footer>
                                    <button mat-button (click)="incCount()">
                                      <mat-icon>thumb_up</mat-icon>
                                  </button>
                                  <button mat-button (click)="desCount()">
                                      <mat-icon>thumb_down</mat-icon>
                                  </button>
                                  <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
    
                                  </mat-card-footer>
                                
                              </div>
                          </div>
                      </a>
                       </ng-template>
                    </div>
                </div>
            </div>
        </div>
        </mat-tab>


          
       <!-- New Tab -->
        <mat-tab label="Old Movies"> 
          <div id="cards_landscape_wrap-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let i of showData | filter:nameSearch">
                        <ng-template  [ngIf]="i.year<='2015'">
                          <a>
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="{{i.image}}" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>{{i.title}}</h6>
                                        <p class="car">{{i.des}}</p>
                                        <div class="card_cat">
                                          <p class="PG">PG-{{i.stars}}</p>
                                          <p class="PG">{{i.year}}</p>
                                          <p class="PG">{{i.action}} </p>
                                        </div>
                                        <mat-card-actions>
                                          
                                        </mat-card-actions>
                                    </div>
                                    <mat-card-footer>
                                        <button mat-button (click)="incCount()">
                                          <mat-icon>thumb_up</mat-icon>
                                      </button>
                                      <button mat-button (click)="desCount()">
                                          <mat-icon>thumb_down</mat-icon>
                                      </button>
                                      <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
        
                                      </mat-card-footer>
                                  
                                </div>
                            </div>
                        </a>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

        
</mat-tab-group>


     

      
    